*, body {
    padding: 0;
    margin: 0;
}

body {
    font-family:Helvetica,Arial, sans-serif;
    background: rgb(233, 196, 196);
}

#socials-container {
    padding: 0 50px;
    padding-top: 75px;
    width: 180px;
    margin: auto;
    margin-top: 83vh;
    position: relative;
}


#socials-header {
    height: 50px;
    width: 180px;
    background: #312f2f;
    border-radius: 25px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 2;
    border: 2px solid #312f2f;
    transition: all 0.3s;
}

#socials-header p {
    margin: auto;
}

.social-link {
    height: 40px;
    width: 40px;
    background: rgb(78, 74, 74);
    position: relative;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    display: inline-flex;
    border : #312f2f 0px solid;
}

.social-link p {
    margin: auto;
}

#links {
    position: absolute;
    margin-top: -60px;
    opacity: 0; /* change */
    
    transition: all 0.3s, margin-left 1s ease-in-out;
    margin-left: -5px;

}

#links a {
    text-decoration: none;
    color: #fff;
    position: absolute;
    
}